
/*Home*/

#EmpleadoStyle_home_contenedor{
    background-image: url('/public/images/image.jpg');
    min-height: 600px;
    width: 100%;
    text-align: center;
    opacity: 50%;
}


#EmpleadoStyle_home_h3{
    margin: 0%;
    padding-top: 14px;
    text-align: center;

}