
/*Home*/
#EmpleadoStyle_home_contenedor{
    background-image: url('/public/images/image.jpg');
    min-height: 550px;
    width: 100%;


}

#EmpleadoStyle_home_footer{

    height: 80px;
    background-color: rgb(24, 21, 21);
    color: rgb(255, 255, 255);
    height: 50px;
}

#EmpleadoStyle_home_h3{
    margin: 0%;
    padding-top: 14px;
    text-align: center;
    
}